.toolbox {
  height: 100%;
  overflow: auto;
  border-left: 2px ridge #e7e7e7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, Ubuntu, "Droid Sans", sans-serif;
  font-size: 13px;
  padding: 3px 0;
}
.toolbox > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.toolbox > ul > li {
  height: 22px;
  display: flex;
  cursor: pointer;
  white-space: nowrap;
  padding: 0 5px;
  line-height: 22px;
}
.toolbox > ul > li:active {
  cursor: copy;
}
.toolbox > ul > li:focus {
  outline-width: 0;
  background-color: #1fccfd;
}
.toolbox-icon {
  user-select: none;
}
.toolbox-icon img {
  width: 16px;
  min-width: 16px;
  vertical-align: middle;
  padding-bottom: 2px;
}
.toolbox-label {
  color: #303030;
  padding-left: 10px;
  user-select: none;
}

.tree {
  height: 100%;
  overflow: auto;
  border-right: 2px ridge #e7e7e7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, Ubuntu, "Droid Sans", sans-serif;
  font-size: 13px;
  color: #303030;
  padding: 3px 0 3px 7px;
}
.tree ul {
  margin: 0;
  padding: 0 0 0 12px;
  list-style-type: none;
}
.tree ul > li {
  user-select: none;
  white-space: nowrap;
  padding-left: 3px;
}
.tree ul > li:focus {
  outline-width: 0;
  background-color: #1fccfd;
}
.tree-caret {
  cursor: pointer;
  user-select: none;
}
.tree-caret::before {
  content: "\25BC";
  display: inline-block;
  margin-right: 6px;
}
.tree-caret-closed::before {
  transform: rotate(-90deg);
}
.tree-nested {
  display: block;
}
.tree-hidden {
  display: none;
}
.tree-flow-icon {
  width: 10px;
  margin-right: 3px;
}
.tree-flow-item {
  cursor: pointer;
}
