@mixin toolbox {
  height: 100%;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, Ubuntu, "Droid Sans", sans-serif;
  font-size: 13px;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      height: 22px;
      display: flex;
      cursor: pointer;
      white-space: nowrap;
      padding: 0 5px;
      line-height: 22px;

      .toolbox-icon {
        user-select: none;
        img {
          width: 16px;
          min-width: 16px;
          vertical-align: middle;
          padding-bottom: 2px;
        }
      }

      .toolbox-label {
        padding-left: 10px;
        user-select: none;
      }
    }
    li:active {
      cursor: copy;
    }
    li:focus {
      outline-width: 0;
    }
  }
}
.toolbox {
  @include toolbox;
}
.toolbox-light {
  @include toolbox;
  color: #303030;
  background-color: #f3f3f3;
  ul {
    li:focus {
      background-color: #0dcaff;
    }
  }
}
.toolbox-dark {
  @include toolbox;
  color: #cccccc;
  background-color: #252526;
  ul {
    li:focus {
      color: #ffffff;
      background-color: #0a4574;
    }
  }
}

@mixin tree {
  height: 100%;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, Ubuntu, "Droid Sans", sans-serif;
  font-size: 13px;

  ul {
    margin: 0;
    padding: 0 0 0 12px;
    list-style-type: none;

    li {
      user-select: none;
      white-space: nowrap;
      padding-left: 3px;
    }
    li:focus {
      outline-width: 0;
      background-color: #1fccfd;
    }

    .tree-caret {
      cursor: pointer;
      user-select: none;
    }
    .tree-caret::before {
      content: "\25BC";
      display: inline-block;
      margin-right: 6px;
    }
    .tree-caret-closed::before {
      transform: rotate(-90deg);
    }

    .tree-nested {
      display: block;
    }

    .tree-hidden {
      display: none;
    }

    .tree-flow-icon {
      width: 10px;
      margin-right: 3px;
    }

    .tree-flow-item {
      cursor: pointer;
    }
  }
}
.tree {
  @include tree;
}
.tree-light {
  color: #303030;
  background-color: '#ffffff';
  ul {
    li:focus {
      background-color: #0dcaff;
    }
  }
}
.tree-dark {
  color: #cccccc;
  background-color: #252526;
  ul {
    li:focus {
      color: #ffffff;
      background-color: #0a4574;
    }
  }
}
